absl-py==1.4.0
aiosignal==1.3.1
ale-py==0.8.1
appdirs==1.4.4
archspec==0.2.1
asttokens==2.4.1
attrs==23.1.0
AutoROM==0.6.1
AutoROM.accept-rom-license==0.6.1
backcall==0.2.0
backports.functools-lru-cache==1.6.5
boltons==23.0.0
box2d-py==2.3.5
brotlipy==0.7.0
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.0.4
click==8.1.3
cloudpickle==1.2.2
comm==0.1.4
contourpy==1.1.0
cryptography==39.0.1
cycler==0.11.0
Cython==0.29.35
debugpy==1.6.7
decorator==4.4.2
dm-tree==0.1.8
docker-pycreds==0.4.0
exceptiongroup==1.0.4
executing==2.0.1
Farama-Notifications==0.0.4
fasteners==0.18
filelock==3.9.0
fonttools==4.40.0
frozenlist==1.4.0
fsspec==2023.12.2
future==0.18.3
gitdb==4.0.10
GitPython==3.1.31
glfw==2.5.9
gmpy2==2.1.2
google-auth==2.20.0
google-auth-oauthlib==1.0.0
grpcio==1.54.2
gym==0.20.0
gym-notices==0.0.8
gymnasium==0.28.1
idna==3.4
imageio==2.31.1
imageio-ffmpeg==0.4.9
importlib-metadata==4.13.0
importlib-resources==5.12.0
iniconfig==1.1.1
install==1.3.5
ipykernel==6.26.0
ipython==8.12.2
jax-jumpy==1.0.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.32
jsonpointer==2.1
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter_client==8.6.0
jupyter_core==5.5.0
kiwisolver==1.4.4
lazy_loader==0.3
lz4==4.3.2
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mkl-fft==1.3.6
mkl-random==1.2.2
mkl-service==2.4.0
moviepy==1.0.3
mpmath==1.2.1
msgpack==1.0.7
mujoco==2.3.7
mujoco-py==2.1.2.14
nest-asyncio==1.5.8
networkx==2.8.4
numpy==1.24.3
oauthlib==3.2.2
opencv-python==4.7.0.72
packaging==23.1
pandas==2.0.2
parso==0.8.3
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pip==23.1.2
pkgutil_resolve_name==1.3.10
platformdirs==3.11.0
pluggy==1.0.0
proglog==0.1.10
prompt-toolkit==3.0.41
protobuf==4.23.3
psutil==5.7.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycosat==0.6.6
pycparser==2.21
pygame==2.5.2
pyglet==1.2.4
Pygments==2.15.1
pyinstrument==4.6.0
PyOpenGL==3.1.7
pyOpenSSL==23.0.0
pyparsing==3.0.9
PySocks==1.7.1
pytest==7.4.0
pytest-mock==3.12.0
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==23.0.0
ray==2.8.1
referencing==0.32.0
requests==2.29.0
requests-oauthlib==1.3.1
rich==13.4.2
rpds-py==0.13.2
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-image==0.21.0
scikit-learn==1.3.1
scipy==1.10.1
seaborn==0.12.2
sentry-sdk==1.27.1
setproctitle==1.3.2
setuptools==65.5.0
Shimmy==1.1.0
six==1.16.0
smmap==5.0.0
snakeviz==2.2.0
stable-baselines3==2.1.0
stack-data==0.6.2
sympy==1.11.1
tbparse==0.0.7
tensorboard==2.14.0
tensorboard-data-server==0.7.1
tensorboardX==2.6.2.2
threadpoolctl==3.2.0
tifffile==2023.7.10
tomli==2.0.1
torch==2.1.0
tornado==6.3.3
tqdm==4.65.0
traitlets==5.13.0
triton==2.1.0
typer==0.9.0
typeguard==4.1.5
typing_extensions==4.6.3
tzdata==2023.3
urllib3==1.26.16
wandb==0.15.12
wcwidth==0.2.10
Werkzeug==2.3.6
wheel==0.38.4
zipp==3.15.0
zstandard==0.19.0
zuko==0.3.2
