torch==2.2.2
gymnasium
wandb
scipy
swig
pyyaml
gymnasium[box2d]
gymnasium[atari]
gymnasium[accept-rom-license]
gymnasium[other]
mujoco<3
tensorboard
typeguard
stable-baselines3
seaborn
scipy
matplotlib
tbparse
lxml==4.9.4
pytest
pytest-mock
imageio
rliable