torch==2.2.2
gymnasium
wandb
scipy
swig
gymnasium[box2d, atari]
shimmy[dm-control]
tensorboard
typeguard
stable-baselines3
seaborn
scipy
matplotlib
tbparse
lxml==4.9.4
dm_control
pytest
pytest-mock
imageio